<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Decentr provides a web browser experience that gives surfing the internet a payable value for every user">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Title -->
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<!-- ****** faviconit.com favicons ****** -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/img/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="/img/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/img/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/favicon-16.png">
<link rel="apple-touch-icon" href="/img/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/favicon-144.png">
<meta name="msapplication-config" content="/browserconfig.xml">
<!-- ****** faviconit.com favicons ****** -->


<!-- CSS -->
<link rel="stylesheet" href="/css/owl.carousel.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/airspace.css" />
<link rel="stylesheet" href="/css/style.css" />
<link rel="stylesheet" href="/css/ionicons.min.css" />
<link rel="stylesheet" href="/css/animate.css" />
<link rel="stylesheet" href="/css/responsive.css" />
<link rel="stylesheet" href="/css/syntax.css" />


<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')
</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/min/waypoints.min.js"></script>
<script src="/js/jquery.counterup.js"></script>


<script src="/js/main.js"></script>
<script src="/js/scroll.js"></script>
<script src="/js/resize.js"></script>
<script src="https://kit.fontawesome.com/6a2479128a.js"></script>

<style media="screen">
	@media only screen and (min-width: 425px) and (max-width: 768px) {

		#feature .par1 {
	    width: 60%;
	    margin: 0 0 5px 145px;
	  }

		#feature .p1 {
				padding: 30px 10px 30px 20px;
		}

		#feature .p2 {
				padding: 30px 10px 30px 20px;
		}

		#feature .p3 {
				padding: 30px 10px 30px 20px;
		}

		#feature .p4 {
				padding: 30px 10px 20px 20px;
		}

		#feature .p5 {
				padding: 30px 10px 23px 20px;
		}

		#team a {
				font-size: 50px;
				color: #fff;
				text-align: center;
				margin-top: 10px;
				margin-left: 280px;
		}

		#comm a {
				font-size: 40px;
				margin-left: 330px;
		}

		#comm a:hover {
				font-size: 40px;
				margin-left: 330px;
		}

		#comm p {
		font-size: 20px;
		padding: 20px;
		}

	  }



</style>

{% seo %}
